.logo{
  width: 50px;
  margin-left: 20px;
  padding-right: 5px;
}
.container-1{
  display: flex;
  }
  .left a, .right a{
    text-decoration: none;
    color: #FF7153;
    padding-left: 10px;
    padding-right: 10px;
  }
  .left a:hover, .right a:hover{
    color: #BE4129;
    border-bottom: solid;
    border-color: #F6BCBB;
  }
  .left{
    display: flex;
    align-items: flex-end;
  }
  .right{
    display: flex;
    align-items: flex-end;
    margin-left: 660px;
  }
  .cart{
    padding-right: 5px;
  }
.converse{
  width: 500px;
}
.backtoallshoes{
  margin-left: 200px;
  color: white;
}
.container-2{
  display: flex;
  background-image: linear-gradient(to right,mediumVioletRed,orangered);
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: 'Roboto', sans-serif;
}
.quicksneakers{
  color: white;
  margin-left: 50px;
}
.lorem{
  display: inline;
}
.quickheading h1{
  margin-top: 60px;
  font-size: 40px;
  margin-bottom: 0px;
}
.quickheading p{
  color: #AE2B3E;
}
.quicksneakers a{
  color: #AC2F27;
  margin-left: 40px;
}
.dashed-border{
  border-top: dashed;
  border-bottom: dashed;
  padding-top: 30px;
  padding-bottom: 30px;
  border-color: #AE2B3E;
}
.details{
 margin-left: 200px;
}
.details a{
  text-decoration: none;
  color: #FF7153;
  padding-right: 25px;
}
.details a:hover{
  color: #BE4129;
  border-bottom: solid;
  border-color: #F6BCBB;
}
.reviews{
  padding-left: 850px;
  color: #FF9D9D;
}
.checked{
  color: #FF9D9D;
  outline-color: #FF9D9D;
}
.recommended{
  background: silver;
  text-align: center;
  font-size: 12px;
}
.excitingtopics{
  font-size: 25px;
}
.Findyourshoe{
  font-size: 25px;
}
.Whatourcustomers{
  font-size: 25px;
}
